* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  width: 600px;
  margin: 100px auto;
  text-align: center;
}
.container {
  display: flex;
  background-color: rgb(244, 176, 77);
  flex-wrap: wrap;
}
.box {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.goEgg {
  border-radius: 50%;
  width: 90%;
  height: 90%;
  margin: 5%;
}
.goEgg_white {
  background-color: white;
}
.goEgg_black {
  background-color: black;
}
